.num-pad-button{
  width: 24%;
  height: 15%;
  margin: 1.5px;
  border: 2px;
  font-size: 20px;
}
.large-num-pad-button{
  width: 50%;
  height: 14%;
  border: 2px;
  margin: .5px;
  font-size: 20px;
}